doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ProgrammingCorner - Home
  script(src='https://cdn.tailwindcss.com')
header.text-gray-400.bg-gray-900.body-font
  .container.mx-auto.flex.flex-wrap.p-5.flex-col.items-center(class='md:flex-row')
    a.flex.title-font.font-medium.items-center.text-white.mb-4(class='md:mb-0')
      svg.w-10.h-10.text-white.p-2.bg-blue-500.rounded-full(xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
        path(d='M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5')
      span.ml-3.text-xl.font-mono
        a(href='/') Programming Corner
    nav.flex.flex-wrap.items-center.text-base.justify-center.text-lg(class='md:ml-auto md:mr-auto')
      a.mr-5.cursor-pointer(href='blog-home' class='mx-[80px] hover:text-white') Blog
      a.mr-5.cursor-pointer(href='' class='mx-[80px] hover:text-white') Chat
      a.mr-5.cursor-pointer(href='' class='mx-[80px] hover:text-white') Code
      a.mr-5.cursor-pointer(href='' class='mx-[80px] hover:text-white') Resume
    a.inline-flex.items-center.bg-gray-800.border-0.py-1.px-3.rounded.text-base.mt-4.ml-3.text-lg(href='login' class='focus:outline-none hover:bg-gray-700 md:mt-0') Login
    a.inline-flex.items-center.bg-gray-800.border-0.py-1.px-3.rounded.text-base.mt-4.ml-3.text-lg(href='register' class='focus:outline-none hover:bg-gray-700 md:mt-0') Register
    path(d='M5 12h14M12 5l7 7-7 7')
section.text-gray-400.bg-gray-900.body-font.overflow-hidden
  .container.px-5.py-24.mx-auto
    .flex.flex-wrap.-m-12.px-12.space-x-14
      each blog in blogs
        .p-12.flex.flex-col.border-2.rounded-lg.items-start(class='md:w-[700px]')
            span.inline-block.py-1.px-2.rounded.bg-gray-800.text-gray-400.text-opacity-75.text-xs.font-medium.tracking-widest CATEGORY
            h2.text-2xl.title-font.font-medium.text-white.mt-4.mb-4(class='sm:text-3xl') #{blog.title}
            p.leading-relaxed.mb-8 #{blog.content}
            .flex.items-center.flex-wrap.pb-4.mb-4.border-b-2.border-gray-800.border-opacity-75.mt-auto.w-full
            a.text-blue-400.inline-flex.items-center
                | Learn More
                svg.w-4.h-4.ml-2(viewbox='0 0 24 24' stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round')
                path(d='M5 12h14')
                path(d='M12 5l7 7-7 7')
            span.text-gray-500.mr-3.inline-flex.items-center.ml-auto.leading-none.text-sm.pr-3.py-1.border-r-2.border-gray-800
                svg.w-4.h-4.mr-1(stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' viewbox='0 0 24 24')
                path(d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z')
                circle(cx='12' cy='12' r='3')
                | 1.2K
            span.text-gray-500.inline-flex.items-center.leading-none.text-sm
                svg.w-4.h-4.mr-1(stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' viewbox='0 0 24 24')
                path(d='M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z')
            a.inline-flex.items-center
            img.w-12.h-12.rounded-full.flex-shrink-0.object-cover.object-center(alt='blog' src='https://dummyimage.com/104x104')
            span.flex-grow.flex.flex-col.pl-4
                span.title-font.font-medium.text-white #{blog.author}
                span.text-gray-500.text-xs.tracking-widest(class='mt-0.5') UI DEVELOPER
